<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />
		<authentication mode="Windows" />
		<identity impersonate="false" />
		<customErrors mode="Off" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
		<defaultDocument>
			<files>
				<add value="Default.html" />
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="300000000" maxUrl="40960" maxQueryString="204800" />
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<!--
        Application have SMS Gateway Options, Which gateway do you want to select?
        1 for Hypermedia SMS gateway
        2 for Dinstar SMS gateway
    -->
		<add key="SelectedGateway" value="2" />
		<add key="CanReceiveSMS" value="1" />
		<!--0 For No and 1 For Yes-->
		<!--Hypermedia SMS Gateway settings Start-->
		<add key="HM_ServerIPAddress" value="networks8.servebbs.net" />
		<add key="HM_Port" value="63333" />
		<add key="HM_Password" value="admin" />
		<!--Hypermedia SMS Gateway settings END-->
		<!--Dinstar SMS Gateway settings Start-->
		<add key="DS_ServerBaseURL" value="http://81.130.136.62:54541" />
		<add key="DS_UserName" value="admin" />
		<add key="DS_Password" value="Cabtds123" />
		<!--Ports should be enter with comma seperated, for example: 0,1,2-->
		<add key="DS_SendingMsgPort" value="0" />
		<add key="DS_ReceivingMsgPort" value="0" />
		<!--Dinstar SMS Gateway settings END-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1itQ0oc/3N1Gv9xjW92NgUrKVgpbVMdW3ENYqoQPHzWPTK/JhIoTsEo8J9bo/W8Ntvrv/AWfbL40YW7ObuIp+mK+toO0QPrstBZpnHEcnSqb3Sz93WImYwmI6Vg2tESXX8nEdxgwHR+w=="/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1Sty+YeVk2zjovA2Mvygui5szUriDg1kcYE489tlDBloF4/LB04zsdxVZ/4mVwcS4IFvSWFvC1trQA76H2CiPnnPafvvNnYW6k1tjzdV2OGMmUByEKsTEOmt1DuYhWFI3H+f6YSJMilIktMHWSCsxwoMD9v5/GjaM6t3ivYE14iBxv4kuomUAqoF3bOLwbVvs="/> -->
		<!--Braithwaite-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4cSExT+9stfERw5CfQQ7Ge/e+VvNsQedgFsBTYG+Tk+FcRhbs5u4in6ZUvBWOGgdBUkFmmccRydKpvdLP3dYiZjCYjpWDa0RJdfycR3GDAdH7"/> -->
		<!--Tallys Travel-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/Qe4Ic8RaAaEPH2x7Z8MoAXBib/by0c+F0BUQxaqCp4MWit7KLxm+oYu6KACRfClGs8oT8s9mZZgKaQg2kVYTfdGFuzm7iKfpg1HMr9Pbq7qQWaZxxHJ0qm90s/d1iJmMJiOlYNrREl1/JxHcYMB0fs="/> -->
		<!--Comfort Transport-->
		<!--<add key="socketurl" value="https://server12.ctcloudxapi.com:18016"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4ccCRXk4F9qSLcE+zHXXmF7v612ykiy0RbKhnYt7/C2jiRhbs5u4in6YdZswFgnaI9UFmmccRydKpvdLP3dYiZjCYjpWDa0RJdfycR3GDAdH7"/> -->
		<!--Amardeep-->
		<!--
    <add key="socketurl" value="https://server22.ctcloudxapi.com:18001"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYxSdhWJqFDxAlDumIXxig9YqkezUyyn3AZcS8uPQtEOh+r1CLDzGnMiggK1MxW1v9CwVVU57r+ah27eHSLpvT6ZYi0quy7uPa"/> -->
		<!--A2Z Taxis-->
		<!--
    <add key="socketurl" value="https://server4.ctcloudxapi.com:18003"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/Qe4Ic8RaAaEPH2x7Z8MoAXBib/by0c+F0BUQxaqCp4MeV7mu8MFQ9YtEi9+jwHgKdTs7F3iJw720UOhWysQFXcV//YgDWRQqkvkpSN2OLqobONLpYU1hRoo52ctHNEx36gX5gAuL/xt48mzlPmtdXM="/>-->
		<!--GetRydeLimited-->
		<!--<add key="socketurl" value="https://server12.ctcloudxapi.com:18019"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYRxZ7Krq+0LzJLDGs2FZ7RJHAMhJR9SxvRhbs5u4in6YH3DvTiEHe6EFmmccRydKpvdLP3dYiZjCYjpWDa0RJdfycR3GDAdH7"/> -->
		<!--Halit Ayten (Swift)-->
		<!--
    <add key="socketurl" value="https://server4.ctcloudxapi.com:18006"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYKwDPjbR2M6ZVk/MT0nTuhiUO6YhfGKD1o4DLJbxvPJRlxLy49C0Q6Hq6UVQq4mXkKCArUzFbW/0LBVVTnuv5qHbt4dIum9PpliLSq7Lu49o="/>-->
		<!--stephenhill cars-->
		<!--<add key="socketurl" value="https://server4.ctcloudxapi.com:18005"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/Qe4Ic8RaAaEPH2x7Z8MoAXBib/by0c+F0BUQxaqCp4MuEVq6E+GhhOVM9uXaZoboYTOajB0kC8vfpU0cF+hEMjBUwo77kLnSx9I6mm+olRmLtXvb28K/3Q/3G04hX2+NoMDfGBR8Plg"/> -->
		<!--Angelo Taxis-->

		<!--<add key="ConnectionString" value="aEJpkEUQcq3KBY0xewqXFfn9N/3Fmikkn7JkigOYDV/FVn/iZXBxLggW9JYW8LW2d8S8ea20FqrU7Oxd4icO9omKf/OwDB8dFf/2IA1kUKprSGhPBG4T32zjS6WFNYUaKOdnLRzRMd+oF+YALi/8bePJs5T5rXVz"/>-->
		<!--sky Taxis-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4cSExT+9stfERQo34wLVHmMlcl8/WDBuAqSsoasbtYMD6Rhbs5u4in6YjccmIjAvJuEFmmccRydKpvdLP3dYiZjCYjpWDa0RJdfycR3GDAdH7"/>-->
		<!--TomkinTaxis-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNY2gJCKcu/0tTU7Oxd4icO9tgMRh+GSz/S8mvRgGpPyUxuZPwAGJdO4qDA/b+fxo2jOrd4r2BNeIgcb+JLqJlAKqBd2zi8G1b7"/>-->
		<!--UK Demo-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/Um6f/Ij6rWQrIap1TnNledbHOvX+skEmkBUQxaqCp4Mc3+PxAi9MmfX3lIgdOy3C6Lnhx/yAY1QqwS2gzQhr00HpqcQMaNh0z8aE8RrcSJrV/2PCgTUZrUL8l/HVugyzRDKsPxbrDz4"/> -->
		<!--ZCarsLondon-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq0jrRJS9VrLhBGEZs9NEBu1TChxIjNZjTJIc4NoLbh3E03ABf1kTUUNKuvsyVpEfJWLveEqZxjnksnl49YBDGhjud0kELg0/FdJAtdBJoA+6tCm36rQ8dAvoMD9v5/GjaM6t3ivYE14iBxv4kuomUAqoF3bOLwbVvs="/> -->
		<!--365 Transport-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYLGBHUURukSDHbeC+h7twq9Ts7F3iJw72PWrHKZRdx2oV//YgDWRQqsI6IZnocgYzbONLpYU1hRoo52ctHNEx36gX5gAuL/xt48mzlPmtdXM="/>-->
		<!--CDM Transport-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1Sty+YeVk2zqlFtyhobGF8GzH0CaTLiBnFVn/iZXBxLggW9JYW8LW2tWdD5jXmuKH0DuDOGmuPZqRyx4MlZd9+fpU0cF+hEMg4cZAKinRU1h9I6mm+olRmLtXvb28K/3Q/3G04hX2+NoMDfGBR8Plg" />-->
		<!--Ilkenton Cars-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/TTv1zYRtSZpkSC427DTE+SspWCltUx1bcQ1iqhA8fNY7Lh1FaRO7I71+cjSaYI5X4DTew6m5E9iV7QQo8smHCfUI3dhVgoV7zil9Dc4qA1DJgEJMB8+QQEDSd42h8xqBAvxl00Nvr32"/>-->
		<!--Prime Cars-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYgMr0PHWBHt00wbWrg6t//qGqfYmwcT+LoKotD8dGqPPwqhwT6uuiv+Z8GmbMXGUAoMD9v5/GjaM6t3ivYE14iBxv4kuomUAqoF3bOLwbVvs="/>-->
		<!--Euro executive-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1itQ0oc/3N1Gv9xjW92NgUXkZNTtlZ7xUwijoqG5Z4ccCRXk4F9qSLkb9KPA4NWYNRZT9fvzzfqXI7L5c63ePyFbGDxrqYWH3gLUZDBpjELaj17bQ1m5ZNV/2PCgTUZrUL8l/HVugyzRDKsPxbrDz4"/>-->
		<!--AAA Express Cars-->
		<!--<add key="socketurl" value="https://server12.ctcloudxapi.com:18018"/>-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/Qe4Ic8RaAaEPH2x7Z8MoAXBib/by0c+F0BUQxaqCp4Mfbq+HILVGZXU7Oxd4icO9u551CocmOZBZcS8uPQtEOjqc8aIgxxd5jil9Dc4qA1DJgEJMB8+QQEDSd42h8xqBAvxl00Nvr32"/>-->
		<!--DemoGB-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYl37z+s2MbVUQkiom2P21E2DeP+yUaCSgqwS2gzQhr01sLxoIJtiyDD8aE8RrcSJrV/2PCgTUZrUL8l/HVugyzRDKsPxbrDz4"/>-->
		<!--VoxyRidesLtd-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq2AH8lbtuqcXfNHah3qrx4FW5MrmfoheJ2spWCltUx1bcQ1iqhA8fNYs7oUuySz2rphUZj/45MtA+Li+0uB2oumeGglc3ed/o/ya9GAak/JTO8tXErADH+K5DOvzZmnkqlIR7v/UgSYo8zFfL3ydwFefF0aKh8wigQ="/>-->
		<!--Burnham Cars New-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4ccCRXk4F9qSLsqftS7MwS65BtJ9O2Ky5HziRY9rcmgCB+eCqDn5OsAB5A6rgkGbMmDEto1pep8M3oMD9v5/GjaM6t3ivYE14iBxv4kuomUAqoF3bOLwbVvs="/>-->
		<!--Associated Taxis-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq1HsdMzPxsYar62ayqRK/9COpEvN6iBVsHFVn/iZXBxLggW9JYW8LW2+iMkNhh6y1e+03Jg5/8L2aYIL4OFt/M+NJ2rFme6VJTi4vtLgdqLpuchC15cvASwZcS8uPQtEOgd0a7Hy3k500FmmccRydKpvdLP3dYiZjCYjpWDa0RJdfycR3GDAdH7" />-->
		<!--Atlas InterCity-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4ccCRXk4F9qSLrTAAmepT9lDFUDwTR9BbdkAVs70Ta+RvvXQyUd3BjDxlxLy49C0Q6Jots+iu5XGbKCArUzFbW/0LBVVTnuv5qHbt4dIum9PpliLSq7Lu49o="/>-->
		<!--Accuro logistics-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4cWwuD9kHqMADrMo1zKj4DTwLJsWj1pEEVdRBrgfkhyQ6fpU0cF+hEMhR2H2a2daQKB9I6mm+olRmLtXvb28K/3Q/3G04hX2+NoMDfGBR8Plg"/>-->
		<!--Dingwall Taxis-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3LFekmGYSS1gR69mzttic3mA0k31Ni5q4wijoqG5Z4cdgACe4/eNNyE4VQAJdsqvbi4vtLgdqLpmSrMptp5uk18mvRgGpPyUyspdr8+c7YweQzr82Zp5KpSEe7/1IEmKPMxXy98ncBXnxdGiofMIoE"/>-->
		<!--MTC Taxis-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq05i8D2mxvirLR9ZI4KMhrpXkZNTtlZ7xUwijoqG5Z4cUtDc+f82mWJqTKSrMXX2q/0DuDOGmuPZqQfQXEWB7SrfpU0cF+hEMgSvYXjYAQSTx9I6mm+olRmLtXvb28K/3Q/3G04hX2+NoMDfGBR8Plg"/>-->
		<!--Green Line Cars-->
		<!--<add key="ConnectionString" value="aEJpkEUQcq3wsO4rHpsI5kpKvT49stJRaY6BZaQgZB3FVn/iZXBxLggW9JYW8LW2h2s3P8ezSM9AVLzu1qaOCAheE+geXyTbQBWzvRNr5G/7qKo9ej0yOWXEvLj0LRDontI52Wx1fUQoICtTMVtb/QsFVVOe6/modu3h0i6b0+mWItKrsu7j2g=="/>-->
		<!--Relyoncars-->
		<add key="socketurl" value="https://server16.ctcloudxapi.com:18005"/>
		<add key="ConnectionString" value="aEJpkEUQcq3KBY0xewqXFfn9N/3Fmikkn7JkigOYDV/FVn/iZXBxLggW9JYW8LW2fHbL65RXN9GhNqLEVqLZJOLi+0uB2oumn2toKB444ePya9GAak/JTAckyH2DVXhV5DOvzZmnkqlIR7v/UgSYo8zFfL3ydwFefF0aKh8wigQ="/>
		<!--MDNationalDerby-->
		<add key="enableRingBack" value="0" />
		<add key="enableCallOffice" value="1" />
		<add key="enableAccountCharges" value="1" />
		<add key="enableClearJobText" value="1" />
		<add key="enableReceiptOnCompleteJob" value="0" />
		<add key="driverPayLiveDetails" value="0" />
		<add key="EnableBidOnPlots" value="1" />
		<add key="DriverPay" value="0" />
		<add key="SMSInbox" value="0" />
		<add key="CallerId_EnableHotDesk" value="0" />
		<add key="CallerID_FromExt" value="200" />
		<add key="CallerID_TillExt" value="250" />
		<add key="NoPickupRestrictionMins" value="3" />
		<add key="enableChangePlotUpdateDestination" value="0" />
		<add key="AutoSTC" value="0" />
		<add key="enableEmaiLReceipt" value="0" />
		<add key="EnablaDriverDocuments" value="1" />
		<add key="EnableWaitingAfterArrive" value="1" />
		<add key="AcceptJobAdditional" value="1" />
		<add key="EnableViaAction" value="0" />
		<add key="StripeAPIBaseURL" value="https://k0nnectpay.com" />
		<add key="DefaultCurrency" value="GBP" />
		<add key="DefaultClientLocation" value="UK" />
		<add key="KonnectDriverComAccountId" value="acct_1PJHjCH8ghk8sSaZ" />
		<add key="huburl" value="https://server12.ctcloudxapi.com/Comfort_Transport" />
		<add key="applicationurl" value="http://116.202.157.217/setting/default.aspx?PoolName=Comfort_Transport" />
		<add key="socketapplicationurl" value="http://116.202.157.217/setting/default.aspx?PoolName=Comfort_Transport_sock" />
		<add key="PageSize" value="1500" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="15000000" />
		<add key="VoipUrl" value="https://recordings.emeraldtel.co.uk" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WebUploadFileSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://tradrv.co.uk/WebUploadFile.asmx" binding="basicHttpBinding" bindingConfiguration="WebUploadFileSoap" contract="DriverImageUploader.WebUploadFileSoap" name="WebUploadFileSoap" />
		</client>
	</system.serviceModel>
</configuration>