<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <customErrors mode="Off" />
 
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="Default.html"/>
      </files>
    </defaultDocument>
 <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" maxUrl="40960" maxQueryString="204800" />
            </requestFiltering>
        </security>
  </system.webServer>
  <appSettings>
    <!--
        Application have SMS Gateway Options, Which gateway do you want to select?
        1 for Hypermedia SMS gateway
        2 for Dinstar SMS gateway
    -->
    <add key="SelectedGateway" value="2"/>
    <add key="CanReceiveSMS" value="1"/>
    <!--0 For No and 1 For Yes-->
    <!--Hypermedia SMS Gateway settings Start-->
    <add key="HM_ServerIPAddress" value="networks8.servebbs.net"/>
    <add key="HM_Port" value="63333"/>
    <add key="HM_Password" value="admin"/>
    <!--Hypermedia SMS Gateway settings END-->
    <!--Dinstar SMS Gateway settings Start-->
    <add key="DS_ServerBaseURL" value="http://81.130.136.62:54541"/>
    <add key="DS_UserName" value="admin"/>
    <add key="DS_Password" value="Cabtds123"/>
    <!--Ports should be enter with comma seperated, for example: 0,1,2-->
    <add key="DS_SendingMsgPort" value="0"/>
    <add key="DS_ReceivingMsgPort" value="0"/>
    <!--Dinstar SMS Gateway settings END-->
    <add key="ConnectionString" value="aEJpkEUQcq1X31I7CPdc/TTv1zYRtSZpkSC427DTE+SspWCltUx1bcQ1iqhA8fNYBxXl04kT+/49L4r7eWMZq9Ts7F3iJw72uXlItIEEkgIV//YgDWRQqkqjTtXzYnVtbONLpYU1hRoo52ctHNEx36gX5gAuL/xt48mzlPmtdXM="/>
    <add key="socketurl" value="https://server17.ctcloudxapi.com:18014"/>
    <add key="enableRingBack" value="0"/>
    <add key="enableCallOffice" value="1"/>
    <add key="enableAccountCharges" value="0"/>
    <add key="enableClearJobText" value="1"/>
    <add key="enableReceiptOnCompleteJob" value="0"/>
    <add key="driverPayLiveDetails" value="0"/>
    <add key="EnableBidOnPlots" value="1"/>
    <add key="DriverPay" value="0"/>
    <add key="SMSInbox" value="0"/>
    <add key="CallerId_EnableHotDesk" value="0"/>
    <add key="CallerID_FromExt" value="200"/>
    <add key="CallerID_TillExt" value="250"/>
    <add key="NoPickupRestrictionMins" value="3"/>
    <add key="enableChangePlotUpdateDestination" value="0"/>
    <add key="AutoSTC" value="0"/>
    <add key="enableEmaiLReceipt" value="0"/>
 <add key="EnablaDriverDocuments" value="0"/>
 <add key="EnableViaAction" value="0"/>
    
    
      <add key="StripeAPIBaseURL" value="https://k0nnectpay.com" />
    <add key="DefaultCurrency" value="GBP" />
    <add key="DefaultClientLocation" value="UK" />
    <add key="huburl" value="" />
   <add key="applicationurl" value="http://188.40.67.161/setting/default.aspx?PoolName=UniquePersonnel"/>
   <add key="socketapplicationurl" value="http://188.40.67.161/setting/default.aspx?PoolName=UniquePersonnel_sock"/>
<add key="PageSize" value="1500"/>
 <add key="aspnet:MaxJsonDeserializerMembers" value="15000000"  />
  </appSettings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebUploadFileSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tradrv.co.uk/WebUploadFile.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebUploadFileSoap" contract="DriverImageUploader.WebUploadFileSoap"
        name="WebUploadFileSoap" />
    </client>
  </system.serviceModel>
</configuration>